div {
  border: 1px solid black;
}

$screen-xs: 320px; 
$screen-sm: 768px; 
$screen-ms: 800px; 
$screen-md: 992px; 
$screen-lg: 1200px; 

$grid-breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  ms: $screen-ms,
  md: $screen-md,
  lg: $screen-lg,
);

$grid-columns: 12;

@mixin make-cssgrid($columns: $grid-columns, $breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @for $i from 1 through $columns {
          .col-#{$breakpoint}-#{$i} {
            grid-column: span $i;
          }
        }
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  @include make-cssgrid();
}
